@import '../CSS/global.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Montserrat&display=swap');
*{
    font-family: 'Quicksand'
}

.BoxPerfil{
    border: solid 1px #9F9999;
    border-radius: 10px;
    width: 1234px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 893px;
}

.tituloAlinhamentoPerfil{
    margin-top: 40px;
}
h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #040404;
}

.AlinhamentoBoxPerfil{
 display: flex;
 justify-content: center
}



.InputPerfilAlinhamento{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputsPerfil{
    background: #DCE0E2;
    border-radius: 10px;
    width: 953px;
    height: 70px;
    font-size: 24px;
    line-height: 30px;
    color: #040404;
    padding: 0px 0px 0px 60px ;
    margin-top: 60px;
}
.btnPerfilAlinhamento{
    display: flex;
    justify-content:flex-end;
    width: 38px;
    margin-top: 250px;
}
.btnExcluirAlinhamentoPerfil{
    margin-left: 20px;
    
}


.btnPerfilAtualizar{
    background: #DB1812;
    border-radius: 5px;
    width: 250px;
    height: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.btnPerfilAtualizar:hover{
    background-color: #DCE0E2;
    color: #DB1812;
    border: 3px solid #DB1812;
}



.btnPerfilExcluir{
    border: 3px solid #DB1812;
    border-radius: 5px;
    width: 250px;
    height: 70px;
    font-size: 24px;
    line-height: 30px;
    color: #DB1812;
    font-size: 24px;
    font-weight: 700;
}

.btnPerfilExcluir:hover{
    background-color: #DB1812;
    color: #DCE0E2;
    border: 3px solid #DCE0E2;
}


/* Parte q vamos utilizar no Back-End */


/* Parte do text: tamanho/cor */
.pMsgPerfil{
    color: #040404;
    font-size: 20px;
    line-height: 25px;  
}

.pTituloPerfil{
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Montserrat'

}

.h2Perfil{
    font-size: 40px;
    line-height: 49px;
    color: #040404;
    font-family: 'Montserrat'
}

.ContainerH2{
    margin-top: 150px;
}

/* Borda */
.bordaPerfil{
    background: #FFFFFF;
    border: 1px solid #C6C4C4;
    border-radius: 10px;
    width: 1235px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px
}

/* borda ´auxiliar por texto */
.bordaAuxiliar{
    border: 1px solid #000000;
    width: 634px;
    margin-top: 10px;
}

/* Botão excluir cor/tamanho/alinhamento/adicionais */
.excluirCadastroPerfil{
    border: 2px solid #DB1812;
    border-radius: 5px;
    width: 250px;
    height: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #DB1812; 
    background: #FFFFFF;
    cursor: pointer;
}


/* div pai */
.alinhamentoPerfilFinal{
    display: flex;
    flex-direction: column;
    width: 1236px;
}

/* Alinhamento box-Secundaria */
.boxCadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1195px;

}

.alinahemntoGeralPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}