.contornoModal{
    border: 1px solid var(--cinzaModal);
    border-radius: 10px;
    width: 550px;
    height: 893px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgCarroEonômicocarros{
    width: 550px;
    height: 312px;
}

.alinhamentoModal{
    width: 502px;
    display: flex;
    flex-direction: column;
}

.inputModal{
    background-color: var(--cinzaInputs);
    width: 502px;
    height: 70px;
    border: 1px solid var(--cinzaInputs);
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 0px 0px 0px 70px;
    color: var(--pretoClarocarros)
}

.bittonReservaModal{
    border: 1px solid var(--vermelhoCarros);
    border-radius: 5px;
    background-color: var(--vermelhoCarros);
    width: 250px;
    height: 75px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.bittonReservaModal:hover{
    background-color: white;
    color: var(--vermelhoCarros);
}

.h3Modal{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

.divH3Modal{
    height: 96px;
    display: flex;
    align-items: center;
}

.divInputsModal{
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divButtonModal{
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}