@import '../CSS/global.css';


.BoxPerfil{
    border: solid 1px #9F9999;
    border-radius: 10px;
    width: 1234px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 893px;
}

.tituloAlinhamentoPerfil{
    margin-top: 40px;
}
h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #040404;
}

.AlinhamentoTotal{
 display: flex;
 justify-content: center
}



.InputPerfilAlinhamento{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputsPerfil{
    background: #DCE0E2;
    border-radius: 10px;
    width: 953px;
    height: 70px;
    font-size: 24px;
    line-height: 30px;
    color: #040404;
    padding: 0px 0px 0px 60px ;
    margin-top: 60px;
}
.btnPerfilAlinhamento{
    display: flex;
    justify-content:flex-end;
    width: 38px;
    margin-top: 250px;
}
.btnExcluirAlinhamentoPerfil{
    margin-left: 20px;
    
}


.btnPerfilAtualizar{
    background: #DB1812;
    border-radius: 5px;
    width: 250px;
    height: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.btnPerfilExcluir{
    border: 3px solid #DB1812;
    border-radius: 5px;
    width: 250px;
    height: 70px;
    font-size: 24px;
    line-height: 30px;
    color: #DB1812;
    font-size: 24px;
    font-weight: 700;
}